# Example robodoc.rc
#
items:
    NAME
    SYNOPSIS
    PROGRAM
    FUNCTION
    SUBROUTINE
    MODULE
    INPUTS
    OUTPUTS
    USAGE
preformatted items:
    INPUTS
    OUTPUTS
format items:
    FUNCTION
options:
    --doc doc 
    --one_file_per_header 
    --src src
    --html 
    --multidoc 
    --documenttitle "OpenCoarrays" 
    --index 
    --cmode 
    --tabsize 8 
    --nopre 
    --sections
    --css robodoc.css
headertypes:
    p  "Programs"              robo_programs      3
    m  "Modules"               robo_modules       2
    d  "Derived types"         robo_derived_types 1
    t  "Type-bound procedures" robo_type_bound_procedures  1
    g  "Generic Interfaces"    robo_constructor_functions 1
    f  "Functions"             robo_functions   1
    s  "Subroutines"           robo_subroutines 1
ignore files:
    README
    *~
accept files:
    *.f90
    *.F90
    *.c
    *.cpp
keywords:
    if
    do
    while
    for
